# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_ULK_LEFT
    def_bool $(shields_list_contains,ulk_left)

config SHIELD_ULK_RIGHT
    def_bool $(shields_list_contains,ulk_right)



